
/* Background image */
html { 
  background: url(https://res.cloudinary.com/da3z5stec/image/upload/v1598270486/React%20Gallery%20App/karsten-wurth-rafblRbne3o-unsplash_vxh6sp_c3mxqg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* --- */
body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #3f4850;
}

/* Results and loading titles */
h2 {
  font-size: 2em;
  margin: 20px 0 20px;
  text-transform: capitalize;
  font-family: 'Lobster', cursive;
}
/* --- */
ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.search-form {
  max-width: 460px;
  display: flex;
  margin: 0 auto 32px;
}

.search-form button {
  outline: none;
  background-color: rgb(12, 100, 172);
  border: none;
  padding: 0px 15px;
  border-radius: 0 0.35em 0.35em 0;
  cursor: pointer;
  
}

input {
  font-size: 1em;
  width: 100%;
  background-color: #edeff0;
  padding: 10px 15px;
  border: 3px solid #d7dbdf;
  border-right: none;
  border-radius: 0.35em 0 0 0.35em;
  outline: none;
}

/* NavLinks highway signs */
.main-nav li {
  width: 100%;
  margin-bottom: 1em;
  box-sizing: border-box;
  box-shadow: 0 0 7px 3px #666;
  border-radius: 3px;
  margin: auto;
}

.main-nav a {
  display: block;
  border-radius: 3px;
  padding: 5px;
  background: #fff;
  border: solid 3px #fff;
  background-color: rgb(12, 100, 172);

  color: #fff
}

.main-nav .active,
.main-nav a:hover {
  border: solid 3px #fff;
  background-color: #fff;
  color: rgb(12, 100, 172)
}
/* --- */
.search-form button:hover{
  background-color: grey;
}

.photo-container ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.photo-container ul li {
  width: 220px;
  height: 165px;
  overflow: hidden;
  margin-bottom: 20px;
}

/* Show row images animation */
.slide-in{
  float: bottom;
  margin-left: 20px;
  opacity: 0;
  transition: all .5s;
  transform: translateY(30%) scale(0.7);
}

.active {
  opacity: 1;
  transform: translateY(0%) scale(1);
}

.vanish-up {
  transform: translateY(-30%) scale(0.7);
}
/* --- */

.photo-container ul img {
  width: 100%;
  transform: scale(1.25);
  transition: transform 1.25s;
}

.photo-container li:hover img {
  transform: scale(1.65);
}

/* ===================================== 
Modal
======================================== */

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

.modal {
  position: relative;
  border-radius: 0.25em;
  border: 1px solid #3142db;
  box-shadow: 0px 0px 10px 5px white;
  max-width: 60vw;
  height: 40vw;
  max-height: 80vh;
  margin: 50px auto auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  transition: .4s ease-out;
}

.modal-close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.9);
  background: rgba(11, 32, 78, 0.9);
  outline: none;
  border-radius: 50%;
  border: 1px solid white;
}

.modal-close-btn:hover {
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 0px 10px 5px #3142db;
  color: #3142db;
  transition: all 0.4s ease-out;
}

.modal-arrow-btn {
  position: absolute;
  background: transparent;
  top: 50%;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
}

.modal-arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
/* --- */

/* Loading */

.loading {
  padding-top: 30px;
  position: relative;
  width: 300px;
  height: auto;
  margin: auto;
}

.loading h2 {
  font-family: 'Lobster', cursive;
  animation: showingtext 1.5s normal infinite;
}

@keyframes showingtext {
  0%  {opacity: 0}
  50% {opacity: 1}
  100%{opacity: 0}
}

.moto {
  position: absolute;
  left: 300px;
  width: 100px;
  height: 100px;
  opacity: 0;
  transform: scale(-1,1);

  animation: goesandcomes 2.5s ease infinite;
}

@keyframes goesandcomes {

  0% {
    left: -100px;
  }
  20% {
    opacity: 1;
  }
  
  40% {
    opacity: 0;
    left: 350px;

    transform: scale(-1,1);
  }
  
  50% {
    opacity: 0;
    transform: scale(1,1);
    transform: rotate(45deg);
    left: 350px;
  }

  60% {
    opacity:1;
  }
  80% {
    left: -100px;
    transform: scale(1,1);
    transform: rotate(45deg);

  }
  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: scale(-1,1);
    left: -100px;
  }
}
/* --- */

/* Not results */

.cartel {
  margin: auto;
}
.not-found {
  box-sizing: border-box;
  position:relative;
  margin: auto;
	width: 100px;
	height: 100px;
  box-shadow: 0 0 3px #666;
  border-radius: 3px;
  margin-bottom:2em;
}
.dead-end {
	background: #fff;
  border: solid 5px #fff;
  background-color: rgb(12, 100, 172);
}

.dead-end:after {
    content:'';
    display:block;
    position:absolute;
    top:65%;
    left:25%;
    transform: rotate(90deg);
    width:48px;
    border-top:solid 15px #fff;
  }
  .dead-end .bar{
    content:'';
    display:block;
    position:absolute;
    top:30%;
    left:25%;
    width:48px;
    border-top:solid 15px red;
  }
/* --- */

/* Not found */
.e-404 {
  width: 100%;
  margin-top: 100px;
}

.sign {
  box-sizing: border-box;
  position:relative;
	width: 300px;
	height: auto;
  box-shadow: 0 0 20px 10px #666;
  border-radius: 3px;
  margin: auto;
}

.inside {
	background: #fff;
  border: solid 5px #fff;
  background-color: rgb(12, 100, 172);
  color: #fff
}
/* --- */

@media only screen and (max-width: 767px)  {
  body {
    padding-top: 2em;
  }

  .photo-container li {
    margin: auto;
  }
}

@media only screen and (min-width: 768px)  {
  body {
    padding-top: 4em;
  }

  .container {
    max-width: 960px;
    margin: auto;
  }

  .main-nav ul {
    display: flex;
    justify-content: center;
  }
  
  .main-nav li {
    margin: 10px;
    width: 100px;
  }
}
